<section class="bg-white dark:bg-gray-900 py-14 font-montserrat font-light">
  <div
    class="max-w-5xl mx-auto flex flex-col md:flex-row items-center gap-8 px-4 md:px-8 min-h-[380px]"
  >
    <div class="md:w-1/2 flex flex-col justify-center items-start">
      <h2
        class="text-4xl md:text-5xl font-light text-gray-900 dark:text-white leading-tight mb-0 text-left"
      >
        Transformando o<br />
        futuro da<br />
        tecnologia e do<br />
        trabalho
      </h2>
    </div>

    <!--Logo-->
    <div class="md:w-1/2 flex flex-col justify-center items-end">
      <img
        src="/assets/logoTS.png"
        alt="Logo TechnologySolutions"
        class="w-48 h-48 md:w-64 md:h-64 mb-0"
      />
    </div>
  </div>
</section>
